@import 'variables.scss';

.pokeDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.buttonDiv {
    display: flex;
    justify-content: center;
    .loadButton {
        cursor: pointer;
        margin: 10px;
        font-size: 1.4rem;
    }
}

.pokeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: $red;
    width: 240px;
    height: 240px;
    margin: 8px;
    position: relative;
    .pokeNum {
        position: absolute;
        top: -10px;
        left: 10px;
    }
    img {
        width: 60%;
        -webkit-filter: drop-shadow(5px 5px 5px #222);
        filter: drop-shadow(5px 5px 5px #222);
    }
    .nameLink {
        font-family: 'Press Start 2P', cursive;
        text-decoration: none;
        color: white;
        margin-bottom: 14px;
        &:hover {
            color: $dark;
        }
    }
    .switchButtons {
        button {
            margin-right: 2px;
            margin-left: 2px;
            cursor: pointer;
            background-color: $dark;
            color: white;
            border: 1px white solid;
            padding: 6px;
            border-radius: 10px;
        }
    }
}