// Colors
$white: #FFFFFF;
$black: #000000;
$dark: #24262b;
$red: rgba(230, 0, 0, 0.7);

// Font
$font: 'Press Start 2P', cursive;

// Media Queries 
$break-small: 600px;
$break-med: 1200px;
$break-large: 1200px;